html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

h1 {
    color: white;
    font-size: 46pt;
    transition: all 1s;
}

h2 {
    display: none;
    color: white;
    font-size: 36pt;
}

.frontImgDiv {
    width: 100%;
    height: 100vh;
    background: url(img/skyrim-anniversary-edition.png) no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.descriptionDiv {
    width: 100%;
    height: 100vh;
    background: url(img/description.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.backImgDiv {

    width: 100%;
    height: 100vh;
    background: url(img/skyrim-anniversary-edition-backside.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    chment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scrollButton {
    position: fixed;
    background-repeat: no-repeat;
    width: 5%;
    height: 10%;
    right: 2%;
    bottom: 2%;
    z-index: 3;
}

.scrollButton:hover {
    animation: scrollAnimation 2s infinite;
}

@keyframes scrollAnimation {
    0% {
        bottom: 3%;
    }

    50% {
        bottom: 1%;
    }

    100% {
        bottom: 3%;
    }
}

.showCode {
    position: absolute;
    z-index: 2;
    height: 25%;
    width: 25%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 1s;
    border-color: orange;
    border-style: solid;
    border-width: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
}

.darkerBackground {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 1s;
}

.showCode:hover ~ .darkerBackground {
    background-color: rgba(0, 0, 0, 0.6);
}

.showCode:hover {
    background-color: rgba(0, 0, 0, 0.7);
    width: 28%;
    height: 28%;
    border-width: 8px;
}

.showCode:hover > h1 {
    font-size: 50pt;
}

@media only screen and (max-width: 800px) {
    .scrollButton {
        width: 10%;
        height: 10%;
    }

    .showCode {
        height: 25%;
        width: 40%;
    }

    .frontImgDiv {
        background: url(img/skyrim-anniversary-edition-small.png) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .descriptionDiv {
        display: none;
    }

}

@media only screen and (max-width: 600px) {
    .scrollButton {
        width: 15%;
        height: 10%;
    }

    .showCode {
        height: 25%;
        width: 50%;
    }

    .frontImgDiv {
        background: url(img/skyrim-anniversary-edition-smaller.png) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

}

@media only screen and (max-width: 1100px) {

    .showCode {
        background-color: rgba(0, 0, 0, 0.8);
    }

    .darkerBackground {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .descriptionDiv {
        display: none;
    }

}
